{% extends "posts/base.html" %}
{% block content %}
    <h2>Create an Account</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label>{{ field.label }}</label>
                {{ field.errors }}
                {{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
{% endblock content %} 