{% extends "posts/base.html" %}
{% load custom_filters %}
{% block content %}
    {% if posts %}
        {% for post in posts %}
            <article>
                <div class="post-header">
                    <h2>
                        <a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a>
                    </h2>
                    <div class="post-meta">
                        by {{ post.author }} • {{ post.date_posted|time_ago_with_timestamp|safe }} • 
                        {{ post.comments.count }} comment{{ post.comments.count|pluralize }}
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts yet. Start the conversation!</p>
    {% endif %}
{% endblock content %} 