{% extends "posts/base.html" %}
{% load custom_filters %}
{% block content %}
    {% if posts %}
        {% for post in posts %}
            <article>
                <h2>
                    <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                </h2>
                <p>{{ post.content|truncatewords:50 }}</p>
                <p>
                    By {{ post.author }} • {{ post.date_posted|time_ago_with_timestamp|safe }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts yet. Start the conversation!</p>
    {% endif %}
{% endblock content %} 